img {
    object-fit: cover;
    transition: 1s;
    overflow: hidden;
    border-radius: 10px;
   
}
img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition:1s ease;
}
.circle{
    position:absolute;

}
.overview{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}