mat-toolbar{
    background-color: rgb(63, 0, 78);
    color:white;
}
mat-form-field{
    padding: 5px;
}

.cla{
    padding-left:190px;
    display: flex;
}

 .example-icon {
    padding: 0 14px;
  }

  .anyadir{
      justify-content: center;
      margin: auto;
      display: flex;
  }
  
  .profile-photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

.container {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;

}
.slider{
    color: blueviolet;
}
.filtro{
    display:inline-block;
}

.padre{
    text-align: center;
}

.boton{
    margin: 10px;
    background-color: blueviolet;
}

.divboton{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: right;
}