<mat-card>
    <mat-card-content >
        <circle-progress class="rate" [percent]="movieInput.vote_average * 10" [maxPercent]="100"
        [title]="(movieInput.vote_average * 10).toString()+'%'" [radius]="20"></circle-progress>
        <div class="imagen">
            <img [src]="getMovieImageUrl(movieInput)" height="200px" width="100%" />
        </div>
        <h1 class="titulo">{{movieInput.title}}</h1>
        <p class="titulo">{{movieInput.overview}}</p>
        <button (click)="addFavorite()" mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button (click)="addToPlayList()" mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>playlist_add</mat-icon>
        </button>
    </mat-card-content>
</mat-card>