.container {
    padding: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(24, 27, 24);

}

.filtro{
    background-color: rgb(24, 27, 24);
}
.movie-item {
    min-width: 200px;
    margin-right: 10px;
}