
  <p>
    <mat-toolbar>
      <a [routerLink]="['/favorite']" routerLinkActive="router-link-active" ><button mat-raised-button color="primary"><mat-icon>favorite</mat-icon></button></a>
      
      <div class="cla">
        <img class="example-icon profile-photo" width="48px" [src]="getPhotoUrl()" />
        <p class="nombre">{{getEmail()}}</p>
      </div>
      
      <div class="divboton">  
        <button class="boton" mat-raised-button color="primary" (click)="googleAuth()"><mat-icon>login</mat-icon></button>
        <button class="boton" mat-raised-button color="primary" (click)="logout()"><mat-icon>logout</mat-icon></button>
   
      </div>    
    
    </mat-toolbar>
  </p>
  <div class="anyadir">
        <mat-form-field appearance="fill" >
            <mat-label>nombre</mat-label><input matInput [(ngModel)]="nuevaLista"></mat-form-field>
        <button class="boton" mat-raised-button color="primary" (click)="addNuevaLista()">nueva lista</button> 
  </div>
  <div class="padre">
    <div class="filtro">
        <mat-form-field appearance="fill">
        <mat-label>filtrar povincias</mat-label>
        <mat-select multiple name="provincia" [(ngModel)]="provinciaName">
            <mat-option *ngFor="let provincia of provinciaList" [value]="provincia.IDPovincia">
                {{provincia.Provincia}}
            </mat-option>
        </mat-select> 
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="filterProvincia()"><mat-icon>filter</mat-icon></button>
    </div>
    <div class="filtro">
            <mat-slider class="slider" thumbLabel [(ngModel)]="precioMinimo" tickInterval="1" step="0.1"  min="0" max="2" aria-label="units"></mat-slider>
    
            <mat-form-field appeareance="fill">
                <mat-label>tipo de gasolina</mat-label>
                <mat-select name="provincia" [(ngModel)]="tipogasofa">
                    <mat-option value="precioGasoleoA">
                        gasoleo A
                    </mat-option>
                    <mat-option value="precioGasolina95E5">
                        gasolina 95
                    </mat-option>
                    <mat-option value="precioGasolina98E5">
                        gasolina 98
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
       <button mat-raised-button color="primary" (click)="filterPrecio()"><mat-icon>filter</mat-icon></button>
       <button mat-raised-button color="primary" (click)="filterDelete()"><mat-icon>delete</mat-icon></button>
    </div>
    </div>

      <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="start start">
          <app-gasolinera-item fxFlex="15" *ngFor="let gasol of gasolineraList" [gasolineraInput]="gasol"></app-gasolinera-item>
        </div>