table {
    width: 70%;
    display: table;
    margin: auto;
    justify-content: center;
    background-color: rgba(97, 0, 252, 0.255);
  
  }
  button{
    margin: 2px;
    color:yellow;
    background-color: rgba(97, 0, 252, 0.255);
  }
 
