<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Registrarse</mat-card-title>
      </mat-card-header>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="registerDto.username" name="username">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" [(ngModel)]="registerDto.email" name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" [(ngModel)]="registerDto.password" name="password">
        </mat-form-field>

         <button mat-stroked-button color="primary" (click)="doRegister()">Sign up</button>

    </mat-card>
  
  </div>