
  div{
 
   display :flex;
   flex-wrap: wrap;
  }

  mat-card{
    padding: 2px;
    margin: 9px;
    width: 20%;
    height: 300px;
    background-color: rgba(98, 0, 255, 0.082);
    box-shadow: black;
  }